/**
 * This file is written in sass, compile with 'node-sass style.scss' to get the
 * actual .css file.
 */
@mixin transform($t) {
    -webkit-transform: $t;
    -moz-transform: $t;
    -ms-transform: $t;
    -o-transform: $t;
    transform: $t;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    @include transform(translateX(-250px) translateY(-800px) rotateX(25deg) rotateY(-25deg));
    width: 2000px;
    height: 4000px;
    opacity : 1;
    z-index: -1;
}

@for $i from 1 to 27 {
    .bg-code#{$i} {
        background: linear-gradient(-45deg, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0.85) 100%), 
            url('../images/background/code#{$i}.png')
            repeat 0 0;
    }
}

p, h1, h2, h3, h4, h5, h6, dd, dt {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 4px;
}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.codeforces-ranking-red{color:red!important}
.codeforces-ranking-orange{color:#ff8c00!important}
.codeforces-ranking-violet{color:#a0a!important}
.codeforces-ranking-blue{color:blue!important}
.codeforces-ranking-green{color:green!important}
.codeforces-ranking-cyan{color:#03A89E !important}
.codeforces-ranking-gray{color:gray!important}

.codeforces-ranking-red-background{background-color:red!important}
.codeforces-ranking-orange-background{background-color:#ff8c00!important}
.codeforces-ranking-violet-background{background-color:#a0a!important}
.codeforces-ranking-blue-background{background-color:blue!important}
.codeforces-ranking-green-background{background-color:green!important}
.codeforces-ranking-cyan-background{background-color:#03A89E !important}
.codeforces-ranking-gray-background{background-color:gray!important}


.teamname {
    color: maroon;
    font-weight: bold;
}
