@media only screen and (min-width: 959px) {
    .img {
        max-width: 50%;
        max-height: 50%;
        display: block;
        margin-left: auto;
                margin-right: auto;
    }
}

@media (min-width: 768px) {
    .container {
        width: 300px;
    }
} 
@media (min-width: 992px) {
    .container {
        width: 500px;
    }
} 
@media (min-width: 1200px) {
    .container {
        width: 700px;
    }
}
/*
.bg-image {
  background: linear-gradient(rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.85) 100%), url('../img/background/frozen-background-1.jpg') repeat 0 0;
  opacity: 1;
  z-index: -1; 
}
*/

@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}

.bg-image {
  background-color: #6b92b9;
  background-image: url('../img/background/BiSmXaq.png'), url('../img/background/XHuy0NJ.png'), url('../img/background/okpRxJU.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

p, h1, h2, h3, h4, h5, h6, dd, dt {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px; }

/* Side notes for calling out things
-------------------------------------------------- */
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee; }

.bs-callout h4 {
  margin-top: 0; }

.bs-callout p:last-child {
  margin-bottom: 0; }

.bs-callout code, .bs-callout .highlight {
  background-color: #fff; }

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4; }

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc; }

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0; }
