<div class="row" ng-controller="VideoController">
  <div class="col-sm-12" ng-click="pauseOrPlay($event)">
    <div class="padding">
      <video controls poster="videos/letitgo.jpg">
      <source src="videos/letitgo.mp4" 
              type="video/mp4" />
      </video>   
      <div class="playpause"></div>
    </div>
  </div>
  <div class="col-sm-12" ng-click="pauseOrPlay($event)">
    <div class="padding">
      <video controls poster="videos/firsttimeinforever.jpg" >
        <source src="videos/firsttimeinforever.mp4" 
                type="video/mp4" />
      </video>  
      <div class="playpause"></div>
    </div>
  </div>
</div>
